<h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p>

<%= flash[:error] %>

<%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>


<%= radio_button_tag(:type, "booker") %>
<%= label_tag(:type_booker, "Booker") %>
<%= radio_button_tag(:type, "technician") %>
<%= label_tag(:type_technician, "Technician") %>



  <%= submit_tag "Login" %>
<% end %>
