<%= form_for @job, :html => { :multipart => true } do |f| %>


  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_field :summary, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :detail %>
    <%= f.text_field :detail, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'form-control', :required => true %>
  </div>

  <div class="form-group">
    <%= f.label :requested_date %>
    <%= f.text_field :requested_date, :class => 'form-control', :required => true %>
  </div>


  <% if session[:user_type] == "booker" %>
    <!-- <%= "BOOKER" -%> -->
    <div class="form-group">
      <%= f.label :accepted_date %>
      <%= f.text_field :accepted_date, :class => 'form-control'   %>
    </div>


  <% elsif session[:user_type] == "technician"%>
    <!-- <%= "TECHNICIAN" -%> -->
    <div class="form-group">
      <%= f.label :accepted_date %>
      <%= f.text_field :accepted_date, :class => 'form-control', :required => true    %>
    </div>

  <% end %>





  <div class="form-group">
    <%= f.label :date_completed %>
    <%= f.text_field :date_completed, :class => 'form-control'   %>
  </div>


  <% if session[:user_type] == "booker" %>
    <!-- <%= "BOOKER" -%> -->
    <div class="form-group hidden">
      <%= f.label :booker_id %>
      <%= f.text_field :booker_id, :value => session[:user_id], :class => 'form-control'   %>
    </div>

    <div class="form-group hidden">
      <%= f.label :technician_id %>
      <%= f.select :technician_id, Technician.pluck(:name, :id), :include_blank => true, :class => "dropdown-menu" %>
    </div>

  <% elsif session[:user_type] == "technician"%>
    <!-- <%= "TECHNICIAN" -%> -->

    <div class="form-group hidden">
      <%= f.label :technician_id %>
      <%= f.text_field :technician_id, :value => session[:user_id], :class => 'form-control'  %>
    </div>



  <% end %>


  <div class="form-group">
     <%= f.label :photo %><br>
     <%= f.file_field :photo %>
   </div>
















  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>

<% end %>





<% if session[:user_type] == "booker" %>
  <!-- <%= "BOOKER" -%> -->
  <p>Adding or editing a job will assign you as the job's booker. You are logged in as "<%= @current_user.name %>. You cannot assign a technician, the technician must accept the job themselves."</p>

<% elsif session[:user_type] == "technician"%>
  <!-- <%= "TECHNICIAN" -%> -->
  <p>Editing a job will assign you as the job's technician. You are logged in as "<%= @current_user.name %>"</p>
<% end %>
