<h1>List of Jobs</h1>



<% @today = Time.new.to_date %>


<% @jobs = @jobs.sort_by{ |t| t.requested_date  }.reverse %>


<div class="joblist">

  <% @jobs.each do |job| %>

    <% class_words = "job col-md-3 "  %>

    <% if job.accepted_date == nil %>
      <% class_words = class_words + "unallocated " %>
    <% else %>
      <% class_words = class_words + "allocated " %>
    <% end %>

    <% if job.date_completed == nil %>
      <% class_words = class_words + "open " %>
    <% else %>
      <% class_words = class_words + "closed " %>
    <% end %>

    <% if (job.requested_date < @today) %>
      <% class_words = class_words + "overdue " %>
    <% else %>
      <% class_words = class_words + "ontrack " %>
    <% end %>

    <% class_words = class_words.split(" ") %>


    <%= tag("div", class: class_words) %>
    <!-- <div class="<%= class_words %>"> -->
      <ul>
        <h4><%= link_to job.summary, job %></h4>
        <!-- <li>Info: <%= job.detail %></li> -->
        <li>Address: <%= job.address %></li>
        <li>Requested Date: <%= job.requested_date %></li>
        <li>Planned Date: <%= job.accepted_date %></li>
        <li>Completed Date: <%= job.date_completed %></li>
        <!-- <li>Completed? <%= job.finished %></li> -->
        <li>Booker: <%= job.booker.name %></li>

        <% if job.technician_id.nil? %>
          <li>Technician: TBC</li>
        <% else %>
          <li>Technician: <%= job.technician.name %></li>
        <% end %>

      </ul>
      <!-- <%= link_to "Edit Job", job %> -->
    </div>


  <% end %>


</div>
