<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>




<!-- can get rid of this... -->
<!-- <% @jobs.sort_by(&:accepted_date) %> -->
<% @jobs = @jobs.sort_by{ |t| t.accepted_date  } %>
<% address_first = @jobs.first.address %>
<% address_last = @jobs.last.address %>
<!-- can get rid of this... -->


<% @jobs.each do |job| %>

  <% class_words = "job "  %>

  <% if job.accepted_date == nil %>
    <% class_words = class_words + "unallocated " %>
  <% else %>
    <% class_words = class_words + "allocated " %>
  <% end %>

  <% if job.finished == true %>
    <% class_words = class_words + "closed " %>
  <% else %>
    <% class_words = class_words + "open " %>
  <% end %>



  <% class_words = class_words.split(" ") %>

  <%= tag("div", class: class_words) %>
  <!-- <div class="<%= class_words %>"> -->
    <ul>
      <h3><%= link_to job.summary, job %></h3>
      <li>Info: <%= job.detail %></li>
      <li>Address: <%= job.address %></li>
      <li>Requested Date: <%= job.requested_date %></li>
      <li>Planned Date: <%= job.accepted_date %></li>
      <li>Completed? <%= job.finished %></li>
      <li>Booker: <%= job.booker.name %></li>
      <li>Technician: <%= job.technician.name %></li>
    </ul>
    <%= link_to "Edit Job", job %>
  </div>

  <!-- waypoints specifies one or more intermediary places to route directions through between the origin and destination. Multiple waypoints can be specified by using the pipe character (|) to separate places (e.g. Berlin,Germany|Paris,France). You can specify up to 20 waypoints. Each waypoint can be either a place name, address or place ID.
   -->



<% end %>
