<h1>Jobs Details</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<ul>
  <h3><%= @job.summary %></h3>
  <li>Info: <%= @job.detail %></li>
  <li>Address: <%= @job.address %></li>
  <li>Requested Date: <%= @job.requested_date %></li>
  <li>Planned Date: <%= @job.accepted_date %></li>
  <li>Completed? :<%= @job.finished %></li>
  <li>Booker: <%= @job.booker.name %></li>
  <% if @job.technician_id.nil? %>
    <li>Technician: TBC</li>
  <% else %>
    <li>Technician: <%= @job.technician.name %></li>
  <% end %>



</ul>


<%= image_tag(@job.photo, :class => '') unless @job.photo.nil? %>

<div class="controls">



  <%= button_to 'Delete Job', @job, :method => 'delete', :class => "btn btn-primary", :data => { :confirm => 'Are you sure?'} %>


  <%= button_to "Edit Job", edit_job_path(@job), :method => 'get', :class => "btn btn-danger" %>

</div>
