<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<ul>
  <h3><%= @job.summary %></h3>
  <li>Info: <%= @job.detail %></li>
  <li>Address: <%= @job.address %></li>
  <li>Requested Date: <%= @job.requested_date %></li>
  <li>Planned Date: <%= @job.accepted_date %></li>
  <li>Completed? :<%= @job.finished %></li>
  <li>Booker: <%= @job.booker.name %></li>
  <li>Technician: <%= @job.technician.name %></li>
</ul>


<div class="controls">
  <%= link_to 'Delete Job', @job, :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
  <%= link_to "Edit Job", edit_job_path(@job) %>

</div>
