<h1>Unallocated Jobs</h1>


<div class="joblist">

  <% @jobs.each do |job| %>

    <div class="job col-md-3 closed">
      <ul>
        <h3><%= link_to job.summary, job %></h3>
        <li>Info: <%= job.detail %></li>
        <li>Address: <%= job.address %></li>
        <li>Requested Date: <%= job.requested_date %></li>
        <li>Booker: <%= job.booker.name %></li>
      </ul>
    </div>

  <% end %>
</div>
