<!DOCTYPE html>
<html>
  <head>
    <title>FMBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <nav>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %> <!-- someone is logged in -->
        <% if session[:user_type] == "booker" %>
          <%= "BOOKER" -%>
          <%= link_to "New Job", new_job_path %>
        <% elsif session[:user_type] == "technician"%>
          <%= "TECHNICIAN" -%>
        <% end %>
        <%= link_to "All Jobs", jobs_path %>
        <%= link_to "Sign Out (#{ @current_user.name })", login_path, :method => 'delete' %>


      <% else %> <!-- user is not logged in -->
        <%= link_to 'Sign In', login_path %>
      <% end %>
    </nav>



    <%= yield %>
  </body>
</html>
