<!DOCTYPE html>
<html>
  <head>
    <title>FMBooker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <nav>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %> <!-- someone is logged in -->
        <% if session[:user_type] == "booker" %>
          <%= "BOOKER" -%>
          <%= link_to "New Job", new_job_path %>
        <% elsif session[:user_type] == "technician"%>
          <%= "TECHNICIAN" -%>
        <% end %>
        <%= link_to "All Jobs", jobs_path %>
        <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %>
        <%= "Logged in as #{ @current_user.name }" %>
        <%= "@current_user type #{ session[:user_type]}" %>

      <% else %> <!-- user is not logged in -->
        <%= link_to 'Sign In', login_path %>
      <% end %>
    </nav>

    <!-- <div class="main">
      <% if @current_user.present? %>

      <% else %>
        <p>This is John's Booking database for Facilities Manitenance. You are not logged in, so this brief explanation is displayed for you.</p>
        <p>The central piece of the database is the "Job" A Job is booked by a booker and attended by a technician. It has a requested date and an address, and has some similarities with Uber I suppose.</p>
        <p>There are two seperate twbles for users - BOOKERS and TECHNICIANS, which are linked to each other only via the JOBS table.</p>
        <ul>BOOKERS
          <li>peter@ga.co / chicken</li>
          <li>jane@ga.co / chicken</li>
        </ul>
        <ul>TECHNICIANS
          <li>stephen@ga.co / chicken</li>
          <li>gillian@ga.co / chicken</li>
        </ul>
        <p>Some points worth noting about Users - </p>
        <ul>
          <li>This is more of a corporate tool than a mass user database. You can't sign yourself up as a new user, either a booker or a technician - a new user must be added by an admin member.</li>
          <li>Whilst the above does make @users a bit simpler, the trade off is that there is two tables of users - bookers and technicians to cater for.</li>
        </ul>
      <% end %>

    </div> -->

    <%= yield %>
  </body>
</html>
